body, html{
	background-color: #1a1c24 !important;
	height: 100%;
	min-height: 100%;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
@media (max-width: 1450px){
	.music-controls .fa-pause, .music-controls .fa-play{
		margin: 0 20px !important;
	}
	.fa-2x{
		font-size: 1.3em !important;
	}
	.song{
		font-size: .85em !important;
	}
	.artist{
		font-size: .75em !important;
	}
	.favorite{
		width: 30px !important;
	}
	.song-service{
		margin: 0 10px 0 5px !important;
	}
	.playlist{
		padding-bottom: 75px !important;
	}
}

.frame{
	width: calc(80%);
	height: calc(90%);
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	border: 3px solid #e7e7e7;
	border-radius: 6px;
	position: relative;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0px 4px 0px 2px rgba(0,0,0,0.1);
  padding: 10px;
}
.top-bar{
	height: 51px;
}

.playlist-container{
	height: 50px;
	line-height: 50px;
	box-sizing: border-box;
	margin-top: 5px;
}
#playlist-dropdown{
	height: 40px;
	line-height: 35px;
	width: 100%;
	text-align: left;
	border: 0;
	background-color: #FFF;
	font-size: 1.25em;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0,0,0,.175);
}
.fa-caret-down{
	float: right;
	margin-top: 8px;
}
#playlist-menu{
	padding-left: 10px;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	margin-top: 0px;
	margin-left: 0px;
	padding: 0;
	background-color: #FFF;
	position: relative;
	z-index: 1;
	font-size: 1.1rem;
	display: none;
}
#playlist-menu li{
	list-style-type: none;
	height: 45px;
	line-height: 35px;
	font-size: 1.15em;
	padding: 5px 0 5px 10px;
	transition: background-color 0.3s ease;
}
#playlist-menu li:hover{
	background-color: #2196F3;
	color: #FFF;
	cursor: pointer;
}
#playlist-menu .divider{
	height: 1px;
	margin: 9px 0;
	padding: 0px;
	overflow: hidden;
	background-color: #333 !important;
}
#playlist-menu .divider:hover{
	cursor: default;
}
.playlist-form{
	position: absolute;
	z-index: 2;
	top: 50px;
	background-color: #FFF;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	padding: 15px;
	opacity: 0;
	display: none;
}
.playlist-form-wrapper{
	opacity: 0;
	display: none;
}
#new-playlist{
	display: block;
	height: 40px;
	line-height: 40px;
	width: 80%;
	font-size: 1.25em;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0,0,0,.175);
	padding-left: 8px;	
	margin: 0 auto;
}
.playlist-form-btn{
	color: #448AFF;
	background-color: #FFF;
	height: 45px;
	line-height: 45px;
	width: 80%;
	border: 1px solid rgba(0,0,0,.15);
	box-shadow: 0 1px 3px rgba(0,0,0,.175);
	border-radius: 4px;
	font-weight: 700;
	font-size: 1.2em;
	margin: 0 auto;
	display: block;
	margin-top: 15px;
	transition: background-color 0.3s ease;
}
.playlist-form-btn:hover{
	background-color: #448AFF;
	color: #FFF;
}
.playlist-form-btn.back{
	background-color: #FFF;
	color: #FF5252;
}
.playlist-form-btn.back:hover{
	color: #FFF;
	background-color: #FF5252;
}

.row{
	max-width: none !important;
}
.ticker-container{
	height: 25px;
	line-height: 20px;
	box-sizing: border-box;
	padding: 0 !important;
	overflow: hidden;
	font-weight: 500;
}
i.up{
	color: #00C853;
	vertical-align: -10%;
}
i.down{
	color: #D50000;
	vertical-align: -10%;
	float: none;
}
.ticker-artist{
	font-size: .8em;
	padding: 0 8px;
	margin-top: -10px;
	display: inline-block;
}

.search-container{
	height: 50px;
	line-height: 50px;
	box-sizing: border-box;
}
#search{
	height: 40px;
	line-height: 40px;
	width: 100%;
	text-align: left;
	border: 0;
	background-color: #FFF;
	font-size: 1.25em;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0,0,0,.175);
	padding-left: 8px;	
}

.container{
	height: calc(100% - 80px);
}

.playlist{
	overflow-y: auto;
	height: calc(100% - 175px);
	width: calc(33% + 15px) !important;
	padding-bottom: 150px;
	overflow-x: hidden;
}
.song-id{
	display: none;
}
.music-container{
	margin: 8px;
}
body .song-container{
	display: inline-block;
	line-height: 1.1;
}
.song{
	font-weight: 700;
	font-size: .95em;
}
.artist{
	font-size:  .8em;
}
.song-service{
	display: inline-block;
	width: 40px;
	margin: 0 20px 0 10px;
	text-align: center;
}
.favorite{
	display: inline-block;
	width: 40px;
}

.now-playing{
	border: 2px solid #333;
	border-radius: 4px;
	padding: 10px;
	position: absolute;
	bottom: 0;
}
.now-playing .music-container{
	margin: 0 !important;
	text-align: center;
}
.now-playing .song{
	font-size: 1.4em;
}
.now-playing .artist{
	font-size: 1em;
}
.music-controls{
	margin: 0 !important;
	padding: 10px 0;
	text-align: center;
}
.music-controls .fa-star-o{
	text-align: left;
}
.music-controls .fa-pause, .music-controls .fa-play{
	margin: 0 30px;
}
.fa-random{
	text-align: right;
}
.time, .sound{
	text-align: center;
}
.time-bar, .sound-bar{
	width: 60%;
	height: 3px;
	background-color: #e7e7e7;
	max-width: 200px;
	margin: 0 10px;
	display: inline-block;
	vertical-align: 4px;
}
.current-time{
	width: 2px;
	height: 13px;
	background-color: red;
	position: relative;
	display: inline-block;
	right: 193px;
	bottom: -1px;
}
.fa-circle{
	position: relative;
	right: 90px;
}